.Header{
    background: rgb(255, 239, 14);
    
    height: 5rem;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1rem;
}

.dynaMixMediaLogo{
    // border: 2px solid red;

    width: 8rem;
    height: 100%;

    img{
        height: 100%;
    }
}

.dynaMixMediaServices{
    // border: 2px solid red;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        color: black;

        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        
        li{
            font-size: 1rem;
            font-weight: 500;
        }
    }
}